<%- include('../partials/dashboardHeader.ejs') %>
<style>

</style>

<section style="height: 100vh;">
    <div class="container">
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="./images/iconList.png" alt="Card image cap"
                    style="height: 50%; width: 50%; margin: auto;">
                <div class="card-body">
                    <h5 class="card-title"><u>Products</u></h5>
                    <div class="border"></div>
                    <p class="card-text">Full list of products with information
                    </p>
                    <div class="border"></div>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lgprod"
                    style="margin-top: 25px;">
                    PRODUCTS
                </button>
            </div>

            <div id="classModal" class="modal fade bs-example-modal-lgprod" tabindex="-1" role="dialog"
                aria-labelledby="classInfo" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="classModalLabel">
                                List of products
                            </h4>
                            <button type="button" class="close xModalClose" data-dismiss="modal" aria-hidden="true"
                                style="font-size:3rem;transform: rotate(45deg);outline: none; ">
                                +
                            </button>
                        </div>
                        <div class="modal-body">
                            <table id="classTable" class="table table-bordered table-dark">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Price</th>
                                        <th>Description</th>
                                        <th>Image</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% products.forEach(product => { %>
                                    <tr>

                                        <td><%= product.title %></td>
                                        <td><%= product.price / 100 %>$</td>
                                        <td><%= product.description %></td>
                                        <td> <img src="<%= product.coverImagePath %>" class="adminListImgSm" />
                                        </td>
                                        <td>
                                            <div class="product-details-btn-grid">
                                                <a class="btn btn-primary"
                                                    href="/products/<%= product.id %>/edit">Edit</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="product-details-btn-grid">
                                                <%- include('../partials/deleteForm', { url: `/products/${product.id}` }) %>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>






            <div class="card">
                <img class="card-img-top" src="./images/newsLetter.bmp" alt="Card image cap"
                    style="height: 50%; width: 50%; margin: auto;">
                <div class="card-body">
                    <h5 class="card-title"><u>List of newsletter</u></h5>
                    <div class="border"></div>
                    <p class="card-text">People that has signed up for WebStores weekly NewsLetter
                    </p>
                    <div class="border"></div>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target=".bd-example-modal-lgNewsLetter">NewsLetter Subscriptions
                </button>
            </div>

            <div class="modal fade bd-example-modal-lgNewsLetter" tabindex="-1" role="dialog"
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="classModalLabel">
                                NewsLetter Subscriptions
                            </h4>
                            <button type="button" class="close xModalClose" data-dismiss="modal" aria-hidden="true"
                                style="font-size:3rem;transform: rotate(45deg); outline: none; ">
                                +
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-hover table-dark">
                                <thead>
                                    <tr>
                                        <th>Email</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% news.forEach(news => { %>
                                    <tr>
                                        <td><%= news.email %></td>
                                        <td><%= news.date %></td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="bottomDivDashSection">

</div>

<%- include('../partials/footer.ejs') %>