<% productCoverClass = locals.large ? 'product-cover-large' : '' %> <% productGridClass =
locals.large ? 'product-grid-large' : '' %>
<div class="product-grid <%= productGridClass %>">
  <% products.forEach(product => { %>
  <a href="/products/<%= product.id %>">
    <div id="prodGridContE">
      <p class="prodGridTxt"><%= product.title %></p>
      <img class="product-cover prodGridImg <%= productCoverClass %>" src="<%= product.coverImagePath %>" />
    </div>
  </a>
  <% }) %>
</div>