<script src="https://checkout.stripe.com/checkout.js" defer></script>
<script>
    var stripePublicKey = '<%= stripePublicKey %>'
</script>
<script src="/javascripts/store2.js" defer></script>

<section class="content-section">
    <h2 class="section-header mt-4">Products</h2>
    <div class="shop-items">
        <% products.forEach(product => { %>
        <div class="shop-item" data-item-id="<%= product.id %>">
            <span class="shop-item-title"><%= product.title %></span>
            <img class="shop-item-image" src="<%= product.coverImagePath %>" style="width: 325px; height: 325px; ">
            <div class="shop-item-details">
                <span class="shop-item-price">$<%= product.price / 100 %>$</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <% }) %>
    </div>
</section>



<section class="content-section">
    <h2 class="section-header">CART</h2>
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <div class="cart-items">
    </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">$0</span>
    </div>
    <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
</section>



<%- include('./partials/footer.ejs') %>